In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('Online Sales Data Task 1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    float64
 6   Total Revenue     240 non-null    float64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 17.0+ KB

In [14]:
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [15]:
# Checking null values
df.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

# There are no Null values in this data set

In [18]:
#checking dupliate rows
df.duplicated().sum()

np.int64(0)

# There are no dulicated rows or data in our data set

In [19]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip()           # Remove leading/trailing spaces
    df[col] = df[col].str.lower()                        # Convert to lowercase
    df[col] = df[col].str.title()
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,Iphone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,Paypal
2,10003,2024-01-03,Clothing,Levi'S 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,Paypal

In [20]:
df.tail(20)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
220,10221,2024-08-08,Beauty Products,Tarte Shape Tape Concealer,1,27.00,27.00,Europe,Paypal
221,10222,2024-08-09,Sports,Garmin Forerunner 945,1,599.99,599.99,Asia,Credit Card
222,10223,2024-08-10,Electronics,Amazon Echo Dot (4Th Gen),4,49.99,199.96,North America,Credit Card
223,10224,2024-08-11,Home Appliances,Philips Sonicare Diamondclean Toothbrush,2,229.99,459.98,Europe,Paypal
224,10225,2024-08-12,Clothing,Old Navy Mid-Rise Rockstar Super Skinny Jeans,2,44.99,89.98,Asia,Debit Card
225,10226,2024-08-13,Books,The Silent Patient By Alex Michaelides,3,26.99,80.97,North America,Credit Card
226,10227,2024-08-14,Beauty Products,The Ordinary Caffeine Solution 5% + Egcg,1,6.70,6.70,Europe,Paypal
227,10228,2024-08-15,Sports,Fitbit Luxe,2,149.95,299.90,Asia,Credit Card
228,10229,2024-08-16,Electronics,Google Nest Wifi Router,1,169.00,169.00,North America,Credit Card
229,10230,2024-08-17,Home Appliances,Anova Precision Oven,1,599.00,599.00,Europe,Paypal
230,10231,2024-08-18,Clothing,Adidas Originals Trefoil Hoodie,4,64.99,259.96,Asia,Debit Card
231,10232,2024-08-19,Books,Dune By Frank Herbert,2,9.99,19.98,North America,Credit Card
232,10233,2024-08-20,Beauty Products,Fresh Sugar Lip Treatment,1,24.00,24.00,Europe,Paypal
233,10234,2024-08-21,Sports,Hydro Flask Standard Mouth Water Bottle,3,32.95,98.85,Asia,Credit Card
234,10235,2024-08-22,Electronics,Bose Quietcomfort 35 Ii Wireless Headphones,1,299.00,299.00,North America,Credit Card
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee And Espresso Maker,1,159.99,159.99,Europe,Paypal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid'S Tale By Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,Paypal
239,10240,2024-08-27,Sports,Yeti Rambler 20 Oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [23]:
#Changing the datatype of the Date colum
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'].dtype

dtype('<M8[ns]')

# we have converted the data type of the "Date" column to datetime from object

In [24]:
df.columns

Index(['Transaction ID', 'Date', 'Product Category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region',
       'Payment Method'],
      dtype='object')

In [25]:
df.rename(columns={
    'Transaction ID': 'TransactionID',
    'Product Category': 'ProductCategory',
    'Product Name': 'ProductName',
    'Units Sold': 'UnitsSold',
    'Unit Price': 'UnitPrice',
    'Total Revenue': 'TotalRevenue',
    'Payment Method': 'PaymentMethod'
}, inplace=True)

df.columns

Index(['TransactionID', 'Date', 'ProductCategory', 'ProductName', 'UnitsSold',
       'UnitPrice', 'TotalRevenue', 'Region', 'PaymentMethod'],
      dtype='object')

# We have removed the speces between the columns

The dataset was thoroughly cleaned and prepared for analysis. There were no missing values or duplicate rows found in the data. The "Date" column was successfully converted from object to a proper datetime format to ensure consistency. All column headers were standardized by removing spaces for better readability and uniformity. Additionally, the data types across the dataset were checked and corrected where needed, ensuring that each column holds the appropriate data type for accurate analysis.